@import url(https://fonts.google.com/specimen/Inter);


/* Phone */

* {
    box-sizing: border-box;
    background-color: hsl(0, 0%, 8%);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block:5px;
    padding-inline: 25px;
    border-radius: 8px;
}

.container img {
    
}


.image-wrapper {
    background-color: hsl(0, 0%, 12%);
    display: inline-block;
    justify-items: center;
    overflow: hidden;
    width: 250px;
    height: 100%;
    margin-block-start: 20px;
}

.image-wrapper img {
    display: block;
    border-radius: 50%;
}

.profile {
    background-color: hsl(0, 0%, 12%);
    padding-inline: 35px;
    text-align: center;
}

.profile h2 {
    font-family: 'inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: hsl(0, 0%, 12%);
    color: hsl(0, 0%, 100%);
}

.profile p {
    background-color: hsl(0, 0%, 12%);
    color: hsl(75, 94%, 57%);
    font-family: 'inter', sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.description {
    background-color: hsl(0, 0%, 12%);
    color: hsl(0, 0%, 100%);
}

.description p {
    font-family: 'inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    background-color: hsl(0, 0%, 12%);
}

.socials {
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-block-start: 10px;
    margin-block-end: 20px;
}

.socials a {
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-family: 'inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding-block: 10px;
    padding-inline: 100px;
    border-radius: 8px;
}

.socials a:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 100%);
    transition: 0.3s;
}


.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
